body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.prabhatfooter{
  background-color: #000;
  color: #fff;
  min-height: 100px;
}

.customfont{
  padding-top: 30px;
}
